:root {
  /* dark style, dark = default */
  color-scheme: var(--color-scheme, dark);
  --bg: url('/img/bg.jpg');
  --bg-color: #121213;
  --bg-clear: rgba(255,255,255,.05);
  --gradient-fire: linear-gradient(180deg, rgba(42, 0, 27, 1.000) 0.000%, rgba(120, 19, 12, 1.000) 5.667%, rgba(206, 72, 14, 1.000) 33.333%, rgba(255, 141, 34, 1.000) 50.000%, rgba(255, 213, 67, 1.000) 66.667%, rgba(255, 255, 105, 1.000) 83.333%, rgba(255, 255, 141, 1.000) 100.000%);
  --gradient-fire-cold: linear-gradient(180deg, rgba(123, 132, 255, 1.000) 0.000%, rgba(104, 165, 255, 1.000) 16.667%, rgba(95, 198, 255, 1.000) 33.333%, rgba(99, 229, 252, 1.000) 50.000%, rgba(115, 255, 205, 1.000) 66.667%, rgba(141, 255, 157, 1.000) 83.333%, rgb(241, 252, 255) 100.000%);
  --accent: red;  

  /* page preference is "light" */
  &:has(#color-scheme option[value="light"]:checked) {
    --color-scheme: light;
    --bg: url('/img/bg-light.jpg');
    --bg-color: #faf4ed;
    --bg-clear: rgba(0,0,0,.05);
  }
    
  /* page preference is "system", and system preference is "dark" */
  @media (prefers-color-scheme: light) {
    &:has(#color-scheme option[value="system"]:checked) {
      --color-scheme: light;
    --bg: url('/img/bg-light.jpg');
    --bg-color: #faf4ed;
    --bg-clear: rgba(0,0,0,.05);
    }
  }
}

* {
  box-sizing: border-box;
    transition-duration: 200ms;
  transition-property: background;
}

html {
  font-family: sans-serif;
}

body {
    background: var(--bg);

  margin: 0 auto;
  width: 97%;
  line-height: 1.5;
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  justify-content: center;
grid-template-areas:
"header header header"
"sidebar-left content sidebar-right"
"footer footer footer";
 @media (max-width: 799px) {
grid-template-columns: 1fr;
grid-template-areas:
"header"
"sidebar-left"
"content" 
"sidebar-right"
"footer";
 }
}


.sidebar {
  display: flex;
  flex-direction: column;
justify-content: start;
margin-top:2rem;
padding:1em;
 @media (max-width: 799px) {
  max-width: 100%;
 }
}

.sidebar section {
border: 20px solid;
border-image: url('/img/section.png');
border-image-slice: 20;
border-image-repeat: repeat;
background-color: var(--bg-color);
}

.sidebar h2 {
  margin: 0;
  padding: 0;
background-color: var(--bg-color);
font-size: 1rem;
font-weight: normal;
text-align: center;
border: 20px solid;
border-image: url('/img/header.png');
border-image-slice: 20;
border-image-repeat: repeat;
}

.sidebar .left {
    grid-area: sidebar-left;
margin-left: auto;
  }

.sidebar .right {
    grid-area: sidebar-right;
margin-right: auto;
  }

main {
    grid-area: content;
margin: 0 auto;
max-width: 80ch;
width: 100%;
display: flex;
flex-direction: column;
background-color: light-dark(white, black);
background-color: var(--bg-color);
  margin-top: 3rem;
border: 40px solid;
border-image: url('/img/main.png');
 border-image-slice: 50; 
border-image-repeat: stretch repeat;
border-image-outset: 20px 11px;
  
 @media (max-width: 799px) {
width: 100%;
 }
  }

  header {
    grid-area: header;
  margin: auto;
  width: 100%;
  border: 20px solid;
  border-image: url('/img/border.png');
  border-image-slice: 20 44;
border-image-repeat: repeat;
 border-image-outset: 10px;
background-color: var(--bg-color);
}

header p {
  text-align: center;
  font-size:3rem;
}

p a, p img {max-width: 100%;}


  footer {
    grid-area:footer;
border: 20px solid;
border-image: url('/img/header.png');
border-image-slice: 20;
border-image-repeat: repeat;
background-color: var(--bg-color);
  }

  footer {
display: flex;
flex-direction: column;
gap: 1rem;
margin: 2rem auto;
justify-content: center;
width: fit-content;
}
footer section{
display: flex;
justify-content: center;
gap: 1rem;
}

footer p {
text-align: center;
margin:0;
font-size: smaller;}


h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
  text-align: center;
}

h2 {
  text-decoration: solid underline;
}

:any-link {
  text-decoration: none;
}

p a:any-link, li a:any-link  {
  text-decoration: underline dotted;
}

p a:hover, li a:hover {
  opacity: 75%;
  text-decoration: underline wavy;
}

img {
  max-width: 100%;
  height: auto;
}

li {
color: light-dark(#a3313a, #ebbcba);
}
li strong {
font-size:large;
color: light-dark(#a17638, #f6c177);
}

li::marker {
  content: "+ ";
}


.img-center {
  margin:auto;
  justify-content: center;
  display: flex;
}

textarea {
  max-width: 40ch;
  margin: auto;
  display: flex;
}

ul {
  padding-inline-start: 2em;
}

.updates {
max-width: 50ch;
margin: 2rem auto;
}

.updates li{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.date {
  color: var(--accent);
  font-weight: bold;
  text-decoration: none;
  font-size:1.1rem;
}

.title {
  font-weight: bold;
}

.description {

  font-style: italic;
}

.authors-note {
 color: var(--accent); 
 font-style: italic;
 font-family: serif;
  border-bottom: 1px solid var(--accent);
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  font-size: small;
}

.authors-note a:any-link  {
background: var(--gradient-fire);
padding: 2px;
margin-right: 3px;
background-repeat: no-repeat;
 background-position-y: bottom;
 background-size:100% 15%;
 width:fit-content;
 text-decoration: none;
  }
  
.authors-note a:hover {
  background: var(--gradient-fire-cold);
  background-repeat: no-repeat;
 background-position-y: bottom;
 background-size:100% 15%;
 width:fit-content;
  opacity: 100%;
}

.emphasis {
 color:  var(--accent); 
 background-image: var(--gradient-fire); 
 background-clip: text; 
 -webkit-background-clip: text; 
 -webkit-text-fill-color: transparent; 
 font-weight: bolder;
font-size: 2em;
 font-family: serif;
    filter: drop-shadow(1px 1px 1px black);
a {
 background-image: var(--gradient-fire); 
  background-clip: text; 
 -webkit-background-clip: text; 
 -webkit-text-fill-color: transparent; 
}
}

header .emphasis {
font-size: clamp(2rem, 2vw + 2.25rem, 15rem);
   word-break: break-word;
       filter: drop-shadow(5px 5px 5px black);
}

figure {
  display: flex;
  padding: 0px;
  margin: 0px;
  justify-content: center;
}

figcaption {
  font-style: italic;
  text-align: center;
}

blockquote {
  padding: 1em;
  border: 1px dashed var(--accent);
  border-left: .5em solid  var(--accent);
background: var(--bg-clear);}

.gallery a img
{
    aspect-ratio: 1/1;
    max-width: 30%;
    width: 100%;
    height: auto;
    object-fit: cover;
}

summary {
  padding: 1em;
  background: var(--gradient-fire);
  color: black;
  text-shadow: -1px -1px 1px white;
  font-weight: bolder;
}

details {
    border: 1px dotted var(--accent);
}

iframe {
  margin: auto;
}

button {
    margin: auto;
    display: flex;
}