---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>About | Big Mountain Fudgecake</title>
	</head>
	<body>

<a href="/">Home</a>
<a href="/about/">About</a> 
<a href="/news/">News</a> 

		<h1>About Big Mountain Fudgecake</h1>

        <p>Big Mountain Fudgecake was a legendary band in the summer of 2005.  With John Redcorn as their visionary, their songs tackled socially conscious topics like money, the lack of money, personal hygiene, and oppression from the white man.  They broke up after 2 weeks of being together, due to infighting on the musical direction of the band. 
            
            <h2>Band Members</h2>
            <li>John Redcorn - lead vocalist, acoustic guitarist, songwriter
            <li>Dale Gribble - manager, tambourine, merch booth babe.
            <li>Lucky Kleinschmidt - lead guitar (Until Season 13)</li>
            <li>Elvin Mackelston - rhthym guitar</li>

            <p>There was no bassist or drummer, though their songs have empty spaces for drum solos.
	</body>
</html>
