---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Big Mountain Fudgecake";
---
<BaseLayout pageTitle={pageTitle}>
  <h2>Homepage of BIG MOUNTAIN FUDGECAK</h2>

</BaseLayout>