---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Music of BMF";

---
<BaseLayout pageTitle={pageTitle}>
<h2>Dale's Music</h2>

<h2>John's Music</h2>
<p class="authors-note">Originally written on the <a href="https://wiki.scumsuck.com/blog:2025:0825blaugust_22_ode_to_a_fella_john_redcorn_s_playlist_edition">SCUMSUCK blog</a>, August 25th 2025.</p>

<p>
This playlist is a combination of the music John listens to in his Jeep, the music him and Nancy have sex to, the other character&#039;s boomer tastes, and song/band references in episodes.  It&#039;s mostly 70&#039;s-80&#039;s dad rock with a sprinkle of R&B.  
</p>

<p>
<iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/1LBJwH5vWTcBIgYaktEEUx?utm_source=generator" width="90%" height="352" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
</p>

<p>
<a href="https://music.youtube.com/playlist?list=PLpFmvtGTBvBxhxiOkuUWCg7Zv6ra1dAin" class="urlextern" title="https://music.youtube.com/playlist?list=PLpFmvtGTBvBxhxiOkuUWCg7Zv6ra1dAin">Youtube Mirror</a>, courtesy of <a href="https://whimwitch.neocities.org/" class="urlextern" title="https://whimwitch.neocities.org/" rel="ugc nofollow">whim</a>: 
</p>

<details><summary>Song List</summary>

<ul>
<li class="level1"><div class="li"> Hot Blooded		- Foreigner - S1E1 picking up Nancy, S2E18 picking up Nancy and Joseph</div>
</li>
<li class="level1"><div class="li"> Rock Me	-	Great White - S1E12 showing up with Nancy</div>
</li>
<li class="level1"><div class="li"> Feel like Makin&#039; Love - 	Bad Company - S2E3 picking up Nancy</div>
</li>
<li class="level1"><div class="li"> Tush	-	ZZ Top - S2E9 Company Man</div>
</li>
<li class="level1"><div class="li"> Heartbreaker	-	Pat Benatar - S2E17 picking up Nancy</div>
</li>
<li class="level1"><div class="li"> Can&#039;t Get Enough - 	Bad Company - S3E3 after closing the shades</div>
</li>
<li class="level1"><div class="li"> Paradise By the Dashboard Light	-	Meat Loaf - S3E3 Nancy&#039;s Room</div>
</li>
<li class="level1"><div class="li"> Takin&#039; Care Of Business	-	Bachman-Turner Overdrive - S3E6, actually Bill washing his car!</div>
</li>
<li class="level1"><div class="li"> Love Hurts - Nazareth - S3E18, at Bobby&#039;s prom</div>
</li>
<li class="level1"><div class="li"> The Stroke -		Billy Squier - S3E19 pulling up in car</div>
</li>
<li class="level1"><div class="li"> Iron Man - Black Sabbath - S4E3, Bill&#039;s flashback</div>
</li>
<li class="level1"><div class="li"> Living After Midnight	-	Judas Priest - S4E21 after credits, John reviewing govt papers.</div>
</li>
<li class="level1"><div class="li"> White Wedding - Billy Idol - S5E4 John waiting for Joseph and Bobby in his Jeep</div>
</li>
<li class="level1"><div class="li"> Blue Collar Man - Styx - S5E9 Hank&#039;s truck is towed</div>
</li>
<li class="level1"><div class="li"> Round and Round - Ratt - S6E14 Of Mice And Little Green Men</div>
</li>
<li class="level1"><div class="li"> Carry On My Wayward Son - Kansas - S6E18 Dales&#039; wedding</div>
</li>
<li class="level1"><div class="li"> Can&#039;t Fight This Feeling	-	REO Speedwagon - S6E18 Dancing at the wedding</div>
</li>
<li class="level1"><div class="li"> Barracuda	-	Heart - S6E20 Boomhauer&#039;s car</div>
</li>
<li class="level1"><div class="li"> Flirtin&#039; With Disaster - Molly Hatchet - S7E13 Hank and Peggy riding</div>
</li>
<li class="level1"><div class="li"> Saturday Night Special - Lynyrd Skynyrd - S7E13 Hank and Peggy arguing</div>
</li>
<li class="level1"><div class="li"> Roll On Down The Highway - Bachman Turner Overdrive - S7E13 Hank and Peggy memories</div>
</li>
<li class="level1"><div class="li"> Harden My Heart - Quarterflash - S7E19 flashback</div>
</li>
<li class="level1"><div class="li"> China Grove	-	The Doobie Brothers - S7E19 flashback</div>
</li>
<li class="level1"><div class="li"> I Want To Know What Love Is - Foreigner - S7E21 bar jukebox</div>
</li>
<li class="level1"><div class="li"> The Joker - Steve Miller Band - S8E1 poker flashback</div>
</li>
<li class="level1"><div class="li"> Aqualung - Jethro Tull - S8E4 Hank lifting weights on roids</div>
</li>
<li class="level1"><div class="li"> Close The Door - Teddy Pendergrass - S8E20 John giving Hank a massage</div>
</li>
<li class="level1"><div class="li"> Free Bird -  Lynyrd Skynyrd - S8E21 Kahn&#039;s house</div>
</li>
<li class="level1"><div class="li"> Two Tickets To Paradise	-	Eddie Money - S8E7 Athena community room</div>
</li>
<li class="level1"><div class="li"> Don&#039;t Stop Believin&#039;	-	Journey - S10E3 Hank comes to Bill&#039;s house</div>
</li>
<li class="level1"><div class="li"> Smokin&#039; In The Boys Room - Brownsville Station - S10E10 Lucky&#039;s Radio</div>
</li>
<li class="level1"><div class="li"> Baby Come Back - Player - S10E11 at the bar</div>
</li>
<li class="level1"><div class="li"> Hit Me With Your Best Shot	-	Pat Benatar - S10E12 strip club</div>
</li>
<li class="level1"><div class="li"> We&#039;re Not Gonna Take It - Twisted Sister - S11E1 car crash</div>
</li>
<li class="level1"><div class="li"> 24 or 6 to 4 - Chicago - S11E4 End</div>
</li>
<li class="level1"><div class="li"> Sharp Dressed Man - ZZ Top - S11E5 Bobby&#039;s TV</div>
</li>
<li class="level1"><div class="li"> Legs - ZZ Top - S11E5 flashback</div>
</li>
<li class="level1"><div class="li"> Cherry Pie	-	Warrant - S11E10 Nancy&#039;s Ringtone</div>
</li>
<li class="level1"><div class="li"> Smooth Up In Ya - Bulletboys - S11E10 John&#039;s jeep</div>
</li>
<li class="level1"><div class="li"> Nothin&#039; But A Good Time	-	Poison - S12E12 John&#039;s jeep</div>
</li>
<li class="level1"><div class="li"> Cats In The Cradle - Harry Chapin - S13E9 end of propane con</div>
</li>
<li class="level1"><div class="li"> Master of Puppets - Metallica - S13E10 episode title</div>
</li>
<li class="level1"><div class="li"> I&#039;m Gonna Love You Just A Bit More Baby - Barry White - S13E22 Bill in the Kitchen</div>
</li>
<li class="level1"><div class="li"> Dancing With Myself - Generation X - S13E24 Kahn home improvment</div>
</li>
</ul>

<p>
The rest are unattributed from my cross-referenced lists, but I&#039;ll keep them anyways cuz they fit.
</p>
<ul>
<li class="level1"><div class="li"> It&#039;s Not Love	-	Dokken</div>
</li>
<li class="level1"><div class="li"> Alone Again	-	Dokken</div>
</li>
<li class="level1"><div class="li"> Double Vision	-	Foreigner</div>
</li>
<li class="level1"><div class="li"> Rock You Like A Hurricane	- Scorpions</div>
</li>
<li class="level1"><div class="li"> You Shook Me All Night Long	-	AC/DC</div>
</li>
<li class="level1"><div class="li"> Here I Go Again - 2018 Remaster	-	Whitesnake</div>
</li>
<li class="level1"><div class="li"> Wanted Man	-	Ratt</div>
</li>
<li class="level1"><div class="li"> Rock Bottom - UFO</div>
</li>
<li class="level1"><div class="li"> Doctor Doctor - UFO</div>
</li>
<li class="level1"><div class="li"> Pour Some Sugar On Me	-	Def Leppard</div>
</li>
<li class="level1"><div class="li"> I Was Made For Lovin&#039; You	-	<abbr title="Keep it simple stupid">KISS</abbr></div>
</li>
<li class="level1"><div class="li"> Lovin&#039; Every Minute of It	-	Loverboy</div>
</li>
<li class="level1"><div class="li"> Turn Me Loose	-	Loverboy</div>
</li>
<li class="level1"><div class="li"> Can&#039;t Get Enough	-	Winger</div>
</li>
<li class="level1"><div class="li"> I Just Want to Make Love to You	-	Foghat</div>
</li>
<li class="level1"><div class="li"> Any Way You Want It -		Journey</div>
</li>
<li class="level1"><div class="li"> (my own addition) Lay It Down	-	Ratt</div>
</li>
</ul>
</details>

<p class="authors-note">But WHY male models?  The R&B is what he puts on for his clients during massages to get them in the mood.  But what does the corny dad rock mean to John Redcorn&#039;s character? Read more and comment on the <a href="https://wiki.scumsuck.com/blog:2025:0825blaugust_22_ode_to_a_fella_john_redcorn_s_playlist_edition">SCUMSUCK blog</a>.</p>


</BaseLayout>