---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Music of BMF";

---
<BaseLayout pageTitle={pageTitle}>
<p>Most of the grown men of Arlen are boomers, and as such they have boomer music taste.  I like that.  I like boomer music.  And I can talk at length about their boomer music taste and what that says about their personality.
<h2>Dale's Music</h2>

<iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/48AQikaD9pPFDwMlkTJdaG?utm_source=generator" width="90%" height="500" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>

<a href="https://youtu.be/Xhbyj8pqUao?list=PLHTWN4D6tfZJF9-CfLaWF_E5zyARQ1NF6"><button>Youtube Mirror</button></a>

<p>60's-70's punk and psychedelia that Dale would have grown up with, and thus internalized as part of his mentally ill + socially anxious adult personality. Cool jocks like Hank or John were into cock rock, and Dale internalized a bit of that too as a football towel boy. </p>

<details><summary>Dale Gribble Song List</summary>
    <ul>
<li>Velvet Underground - “Sunday Morning”
<li>Frank Zappa - “Ms. Pinky”
<li>The Cramps - “Human Fly” 
<li>The Cramps - “Garbage Man”
<li>Dead Boys - “I Need Lunch” 
<li>GG Allin - “Bored To Death” 
<li>Frank Zappa - “Carolina Hard-Core Ecstacy” </li>
    <p>
        Additional songs, not in Dale's Depravity story:
    </p>
    <li>The Bobby Fuller Four - “I Fought The Law”, in Soldier of Misfortune S6E2</li>
<li>The Drifters - “Under The Boardwalk”, in Father of the Bribe, S65</li>
</ul>
</details>

<p class="authors-note">But what IS Dale's Depravity and how do these songs fit in?!  Read more and comment on the <a href="https://wiki.scumsuck.com/blog:2025:0825blaugust_22_ode_to_a_fella_john_redcorn_s_playlist_edition">SCUMSUCK blog post about Dale's playlist</a>.</p>

<h2>John's Music</h2>

<iframe data-testid="embed-iframe" style="border-radius:12px" src="https://open.spotify.com/embed/playlist/1LBJwH5vWTcBIgYaktEEUx?utm_source=generator" width="90%" height="500" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>


<a href="https://music.youtube.com/playlist?list=PLpFmvtGTBvBxhxiOkuUWCg7Zv6ra1dAin" class="urlextern" title="https://music.youtube.com/playlist?list=PLpFmvtGTBvBxhxiOkuUWCg7Zv6ra1dAin"><button>Youtube Mirror</button></a>


<p>Youtube Mirror courtesy of <a href="https://whimwitch.neocities.org/" class="urlextern" title="https://whimwitch.neocities.org/" rel="ugc nofollow"> whim</a>.</p>

<p>
This playlist is a combination of the music John listens to in his Jeep, the music him and Nancy have sex to, the other character&#039;s boomer tastes, and song/band references in episodes.  It&#039;s mostly 70&#039;s-80&#039;s dad rock with a sprinkle of R&B.  
</p>

<details><summary>John Redcorn Song List</summary>

<ul>
<li>Hot Blooded		- Foreigner, S1E1 picking up Nancy, S2E18 picking up Nancy and Joseph
</li>
<li>Rock Me	-	Great White, S1E12 showing up with Nancy
</li>
<li>Feel like Makin&#039; Love - 	Bad Company, S2E3 picking up Nancy
</li>
<li>Tush	-	ZZ Top, S2E9 Company Man
</li>
<li>Heartbreaker	-	Pat Benatar, S2E17 picking up Nancy
</li>
<li>Can&#039;t Get Enough - 	Bad Company, S3E3 after closing the shades
</li>
<li>Paradise By the Dashboard Light	-	Meat Loaf, S3E3 Nancy&#039;s Room
</li>
<li>Takin&#039; Care Of Business	-	Bachman-Turner Overdrive, S3E6, actually Bill washing his car!
</li>
<li>Love Hurts - Nazareth, S3E18, at Bobby&#039;s prom
</li>
<li>The Stroke -		Billy Squier, S3E19 pulling up in car
</li>
<li>Iron Man - Black Sabbath, S4E3, Bill&#039;s flashback
</li>
<li>Living After Midnight	-	Judas Priest, S4E21 after credits, John reviewing govt papers.
</li>
<li>White Wedding - Billy Idol, S5E4 John waiting for Joseph and Bobby in his Jeep
</li>
<li>Blue Collar Man - Styx, S5E9 Hank&#039;s truck is towed
</li>
<li>Round and Round - Ratt, S6E14 Of Mice And Little Green Men
</li>
<li>Carry On My Wayward Son - Kansas, S6E18 Dales&#039; wedding
</li>
<li>Can&#039;t Fight This Feeling	-	REO Speedwagon, S6E18 Dancing at the wedding
</li>
<li>Barracuda	-	Heart, S6E20 Boomhauer&#039;s car
</li>
<li>Flirtin&#039; With Disaster - Molly Hatchet, S7E13 Hank and Peggy riding 
</li>
<li>Saturday Night Special - Lynyrd Skynyrd, S7E13 Hank and Peggy arguing 
</li>
<li>Roll On Down The Highway - Bachman Turner Overdrive, S7E13 Hank and Peggy memories 
</li>
<li>Harden My Heart - Quarterflash, S7E19 flashback 
</li>
<li>China Grove	-	The Doobie Brothers, S7E19 flashback 
</li>
<li>I Want To Know What Love Is - Foreigner, S7E21 bar jukebox 
</li>
<li>The Joker - Steve Miller Band, S8E1 poker flashback 
</li>
<li>Aqualung - Jethro Tull, S8E4 Hank lifting weights on roids 
</li>
<li>Close The Door - Teddy Pendergrass, S8E20 John giving Hank a massage 
</li>
<li>Free Bird -  Lynyrd Skynyrd, S8E21 Kahn&#039;s house 
</li>
<li>Two Tickets To Paradise	-	Eddie Money, S8E7 Athena community room 
</li>
<li>Don&#039;t Stop Believin&#039;	-	Journey, S10E3 Hank comes to Bill&#039;s house 
</li>
<li>Smokin&#039; In The Boys Room - Brownsville Station, S10E10 Lucky&#039;s Radio 
</li>
<li>Baby Come Back - Player,  S10E11 at the bar 
</li>
<li>Hit Me With Your Best Shot	-	Pat Benatar, S10E12 strip club 
</li>
<li>We&#039;re Not Gonna Take It - Twisted Sister, S11E1 car crash 
</li>
<li>24 or 6 to 4 - Chicago, S11E4 End 
</li>
<li>Sharp Dressed Man - ZZ Top, S11E5 Bobby&#039;s TV 
</li>
<li>Legs - ZZ Top, S11E5 flashback 
</li>
<li>Cherry Pie	-	Warrant, S11E10 Nancy&#039;s Ringtone 
</li>
<li>Smooth Up In Ya - Bulletboys, S11E10 John&#039;s jeep 
</li>
<li>Nothin&#039; But A Good Time	-	Poison, S12E12 John&#039;s jeep 
</li>
<li>Cats In The Cradle - Harry Chapin, S13E9 end of propane con 
</li>
<li>Master of Puppets - Metallica, S13E10 episode title 
</li>
<li>I&#039;m Gonna Love You Just A Bit More Baby, Barry White - S13E22 Bill in the Kitchen 
</li>
<li>Dancing With Myself - Generation X, S13E24 Kahn home improvment 
</li>
</ul>

<p>
The rest are unattributed from my cross-referenced lists, but I&#039;ll keep them anyways cuz they fit.
</p>
<ul>
<li>It&#039;s Not Love	-	Dokken 
</li>
<li>Alone Again	-	Dokken 
</li>
<li>Double Vision	-	Foreigner 
</li>
<li>Rock You Like A Hurricane	- Scorpions 
</li>
<li>You Shook Me All Night Long	-	AC/DC 
</li>
<li>Here I Go Again - 2018 Remaster	-	Whitesnake 
</li>
<li>Wanted Man	-	Ratt 
</li>
<li>Rock Bottom - UFO 
</li>
<li>Doctor Doctor - UFO 
</li>
<li>Pour Some Sugar On Me	-	Def Leppard 
</li>
<li>I Was Made For Lovin&#039; You	-	<abbr title="Keep it simple stupid">KISS</abbr> 
</li>
<li>Lovin&#039; Every Minute of It	-	Loverboy 
</li>
<li>Turn Me Loose	-	Loverboy 
</li>
<li>Can&#039;t Get Enough	-	Winger 
</li>
<li>I Just Want to Make Love to You	-	Foghat 
</li>
<li>Any Way You Want It -		Journey 
</li>
<li>(my own addition) Lay It Down	-	Ratt 
</li>
</ul>
</details>

<p class="authors-note">But WHY male models?  The R&B is what he puts on for his clients during massages to get them in the mood.  What does the corny dad rock mean to John Redcorn&#039;s character? Read more and comment on the <a href="https://wiki.scumsuck.com/blog:2025:0825blaugust_22_ode_to_a_fella_john_redcorn_s_playlist_edition">SCUMSUCK blog post about John Redcorn's playlist</a>.</p>


</BaseLayout>