---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "The World Famous PP Chart";
---
<BaseLayout pageTitle={pageTitle}>

<p>This Penis Chart will give the inside line on who has what in those Leather Stage Pants!
Me and my sources have lent many a ear to eavesdrop all this cool gossip on The Long & Short of Rock N' Roll Cocks!

<p><u>Disclaimer:</u>  I, PP Johnson and Big Mountain Fudgecak, will not be held accountable for any misinformation reported here. If you hook up with any of these men and they don't live up to expectations, do not blame me! What's big to one girl is small to another, and vice versa. One girl's shit is another girl's treasure. This is a basic guideline of what you can possibly expect.  Circumstances may vary from girl to girl.  I don't want any of my girls being mislead. So if you find a report you disagree with, let me know! :)

<p>Also, I did not sleep with all these guys!! So don't ask.

<h2>THE LONG AND SHORT OF IT</h2>
<ol>
<li><strong>John Redcorn: </strong>
Back in the day John was a huge slut but he's chilled out a little. John has an average size cock and prefers to give oral than recieve it. He has good rhythm though and will even wear 2 condoms if you ask him to.</li>
<li><strong>Dale Gribble: </strong>
His cock is so small crabs could use it as a flagpole.  He can go quite a while, but that's probably because his dick isn't hitting your pussy walls.  Dale will call you the next day and hang around after he's done boning you.  I guess that's cause he has to make up for lacking in size!</li>
<li><strong>Lucky Kleinschmidt: </strong>
Will tell you he's married, but still pursue you.  If you play with his dirty onion ring he'll worship you.  Average all-around; shows respect, and doesn't seem to be TOO much the player. Likes 'em young.</li>
<li><strong>Elvin Mackelston: </strong>
An average penis with a shaved nut sack.  He does provide oral sex, but really sucks at it (no pun intended.)  He comes quick and seems to love himself so much that he would rather masturbate than have really wild sex. </li>

</ol>

<h2>EXTRA CREDIT</h2>
<ol>
<li><strong>Hank Hill: </strong>
Condom user and good for a few times in one session.</li>
<li><strong>Boomhauer: </strong>
The Big Boom has about an 8+ inch cock with what one girl called "an amazing girth" as well as a very nice pair of balls.  Plus he's well groomed, a wonderful kisser and goes down like the Titanic.  And he likes ass play as well,but even more with dildo's, vibrators...or even...CARROTS!!!  (no lie!!!)!!  He doesn't even mind ass-play with another guy either because he is bi-sexual.  He also has a Prince Albert, which means he has a pierced cock.  He has a huge ring (not one of those thin ones like most guys get), but a very thick silver ring going in through the opening of his cock and coming out just behind the ridge on the underside.  He also shoots out quite a load, so bring your rain coat!</li>
</ol>

</BaseLayout>