---
import Social from './Social.astro';
---


<footer>
<p>This site has been administered by Rusty Shackleford since September 2025. </p>
  <section class="social">
    <a href="/rss.xml">RSS</a>
      <a href="https://blorbo.social/@scumsuck">fedi</a>
  <Social platform="instagram" username="skumsuck" />
  <a href="https://deadscoutz.tumblr.com">tumblr</a>

  </section>
</footer>