---
import Social from './Social.astro';
---

<style>
footer {
display: flex;
flex-direction: column;
gap: 1rem;
margin: 2rem auto;
justify-content: center;
width: 100%;
}
footer section{
display: flex;
justify-content: center;
gap: 1rem;
}

footer p {
text-align: center;
margin:0;
font-size: smaller;}
</style>



<footer>
<p>This site is administered by SCUMSUCK (c) 2025 </p>
  <section class="social">
    <a href="/rss.xml">RSS</a>
  <Social platform="twitter" username="skumsuck" />
  <Social platform="instagram" username="skumsuck" />
  <a href="https://deadscoutz.tumblr.com">tumblr</a>
  <a href="https://blorbo.social/@scumsuck">fedi</a>
  </section>
</footer>