---

---
<aside class="sidebar right">
    <img src="/img/header_top.png" alt="">
    <h2>Featured Image</h2>
    <section>
<img src="https://64.media.tumblr.com/5023fe99bfb65a1cb2c2bd668ddbd6e7/546b8d644694bde2-2b/s500x750/0e269d914970e6be94ababb8afdc7db191df2939.gifv">
</section>

<img src="/img/section_bottom.png" alt="">

    <img src="/img/header_top.png" alt="">
    <h2>Button</h2>
<section>

  <p>This page is run by a CERTIFIED John Redcorn Gooner.  </p>

  <a href="https://fudgecak.scumsuck.com"><img src="https://fudgecak.scumsuck.com/img/john-redcorn-productions-88x31-small.gif" alt="John Redcorn Gooner 88x31 button" class="img-center"></a>


<p>Save this button and post it on your own page to let other's know you're a CERTIFIED John Redcorn Gooner.</p>

<textarea>
<a href="https://fudgecak.scumsuck.com"><img src="https://fudgecak.scumsuck.com/img/john-redcorn-productions-88x31-small.gif" alt="John Redcorn Gooner 88x31 button"></a>
</textarea>
</section>

</aside>
