---
import Nav from './Nav.astro';
import Toggle from './Toggle.astro';
---

<aside class="sidebar left">
    <img src="/img/header_top.png" alt="">
    <h2>Navigation</h2>
    <section><Nav /> </section>

    <img src="/img/section_bottom.png" alt="">

    <img src="/img/header_top.png" alt="">
    <h2>Color Theme</h2>          
      <section><Toggle /></section>
</aside>